<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-4">
      
                  <h4 class="text-center my-3 pb-3">To Do App</h4>
      
                  <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" method="POST">
                   {% csrf_token %}
                    <div class="col-12">
                      <div class="form-outline">
                        <input type="text" id="form1" class="form-control" name="task" required/>
                        <label class="form-label" for="form1">Enter a task here</label>
                      </div>
                    </div>
      
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
      
                  <table class="table mb-4">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Todo item</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for user_task in user_tasks %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ user_task.task }}</td>
                            <td>{{ user_task.status }}</td>
                            <td>
                                <div class="d-flex">  <!-- Add flexbox container -->
                                    <form action="{% url 'delete_task' user_task.id %}" method="POST" class="me-2">  <!-- Add margin to the form -->
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <form action="{% url 'finish_task' user_task.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Finished</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    

                        </tr>

                      </tr>
                    </tbody>
                  </table>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>